:root {
  /** Example: */
  --main-background: rgb(61, 125, 202);
}

/** Project styling */

/** Your styles go here */

nav{
  text-align: center;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}

a{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}

a:hover{
  text-decoration-line: underline;
  font-weight: 400;
}

.right{
  text-align: right;
  margin-right: 100px;
  margin-bottom: 0px;
}

.left{
    text-align: left;
    margin-right: 10px;
    position: fixed;
    bottom: 10px;
}

.home-image{
  max-height: 350px;
  padding: 10px;
}

.socail-media{
  max-height: 40px;
  position: fixed;
}

.link{
  margin-right: 20px;
}

#image-holder{
  max-width: 2500px;
  text-align: center;
}

#logo{
  max-height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#helpful-tools{
  font-size: 12px;
  position: fixed;
}